*{
    margin: 0;
    padding: 0;
}
.section1{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}
.menu{
    display: none;  
}
.bg-video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;
    opacity: 1;
}
.hero-nav{
    display: flex;
    flex-direction: column;
    background-image: url('/Assets/home/hotel2-2.mp4');
    position: relative;
    z-index: 1;
    gap: 150px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding-top: 20px;
}
.a{
    color: rgb(255, 195, 118);
}
nav a{
    text-decoration: none;
    font-family: 'Nunito sans';
    position: relative;
    color: rgb(255, 255, 255);
    border-bottom: 0px;
}
nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(255, 195, 118);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
nav a:hover{
    color: rgb(255, 195, 118);
}
nav a:hover::after{
    transform: scaleX(1);
}
.nav-line{
    display: none;
}
.hero-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.hero-sect p{
    font-family: 'Nunito sans';
    color: rgb(232, 191, 150);
    font-size: 20px;
}
.hero-sect h1{
    font-family: 'Nanum Myeongjo';
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;
    width: 800px;
}
#bgImage{
    background-image: url("/Assets/home/luxury and comfort.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed; /* Use fixed to cover screen like video */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -2;
    transition: opacity 0.5s ease;
}
.section1-btn {
    display: flex;
    gap: 1030px; /* distance between left/right arrows */
    transform: translateY(-50%); /* vertically centers the buttons */
    z-index: 3;
}
.section1-btn button {
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:  rgb(255, 195, 118);
    font-size: 30px;
    background-color: rgba(0,0,0,0.4); /* Optional: background circle */
    transition: transform 0.3s ease; /* Smooth scaling */
}
.section1-btn button:hover {
    transform: scale(1.2); /* Less dramatic scaling */
}
.section1-btn button:active{
    transform: scale(0.8);
}

.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/Assets/home/your_comfort_bg1.png');
    gap: 25px;
    width: 100%;
    height: 85vh;
}
.section2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.123);
    width: 260px;
    height: 210px;
}
.section2 img{
    position: absolute;
    margin-top: -200px;
}
.section2 h1{
    display: flex;
    align-items: center;
    font-family: 'Nanum Myeongjo';
    font-size: 70px;
    gap: 5px;
}
.section2 p{
    font-family: 'Nunito sans';
    font-size: 15px;
}
.p{
    transform: scale(2);
}


.section3{
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 100px;
}
.section3 h1{
    text-align: center;
    font-size: 50px;
}
.section3-div4{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.section3-div3{
    position: relative;
    height: 600px;
    width: 450px;
}
.section3-div11{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/Assets/home/services1.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transition: height 0.5s ease;
    width: 100%;
    height: 94%;
}
.section3-div12{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/Assets/home/services2.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transition: height 0.5s ease;
    width: 100%;
    height: 94%;
}
.section3-div11:hover,
.section3-div12:hover{
    height: 87%;
}
.section3-div11:hover .section3-div2,
.section3-div12:hover .section3-div2{
    bottom: 0%;
}
.section3-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: bottom 0.5s ease;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 100%;
    font-size: 20px;
    line-height: 30px;
    gap: 20px;
    width: 97%;
    height: 97%;
}
.section3-div2 p,
.section3-div2 h3{
    transition: color 0.5s;
    color: white;
    width: 300px;
}
.section3-div2 h3:hover{
    color: rgb(255, 195, 118);
}
.section3-div2 a{
    text-decoration: none;
    color: rgb(255, 195, 118);
    position: relative;
    transition: color 0.5s;
}
.section3-div2 a:hover{
    color: white;
}
.section3-div2 a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    border-bottom: solid 2px;
    transition: width 0.5s;
    left: 1px;
}
.section3-div2 a:hover::before{
    width: 0%;
}


.section4{
    display: flex;
    flex-direction: column;
    background-image: url(/Assets/home/skyline-bg.png);
    gap: 70px;
    width: 100%;
    height: 110vh;
    padding-top: 100px;
}
.section4 h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
.section4-div4{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.section4-div3{
    position: relative;
    height: 600px;
    width: 450px;
}
.section4-div11{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/Assets/home/exclusive_suite.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transition: height 0.5s ease;
    width: 100%;
    height: 94%;
}
.section4-div12{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/Assets/home/luxury_suite.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transition: height 0.5s ease;
    width: 100%;
    height: 94%;
}
.section4-div11:hover .section4-div2,
.section4-div12:hover .section4-div2{
    bottom: 0%;
}
.section4-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: bottom 0.5s ease;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 100%;
    font-size: 20px;
    line-height: 30px;
    gap: 20px;
    width: 97%;
    height: 97%;
}
.section4-div2 p,
.section4-div2 h3{
    transition: color 0.5s;
    color: white;
    width: 300px;
}
.section4-div2 h3:hover{
    color: rgb(255, 195, 118);
}
.section4-div2 a{
    text-decoration: none;
    color: rgb(255, 195, 118);
    position: relative;
    transition: color 0.5s;
}
.section4-div2 a:hover{
    color: white;
}
.section4-div2 a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    border-bottom: solid 2px;
    transition: width 0.5s;
    left: 1px;
}
.section4-div2 a:hover::before{
    width: 0%;
}


.section5{
    display: flex;
    gap: 10px;
}
.section5 h1{
    font-size: 50px;
}
.section5 p{
    font-size: 20px;
    line-height:40px;
    width: 415px;
}
.section5-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.section5-div1 p,
.section5-div1 a{
    display: none;
}
.section5-div1 img{
    width: 790px;
}
.section5-div2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section5-div2 img{
    position: absolute;
    margin-left: -150px;
    margin-top: 345px;
    width: 560px;
}
.section5-div2 a{
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.3s;
}
.section5 a:hover{
    color: rgb(255, 195, 118);
}
.section5 a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 22%;
    height: 2px;
    border-bottom: solid 2px;
    transition: width 0.5s;
    left: 1px;
}
.section5 a:hover::before{
    width: 0%;
}
.section5-div3{
    display: flex;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space: nowrap;
    gap: 50px;
    top: -90px;
    width: 790px;
}
.section5-div3::-webkit-scrollbar {
    display: none;
}
.section5-div3 img{
    display: inline-block;
    user-select: none;
    width: 230px;
}

.section6{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.section6-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
.section6-div1 h1{
    font-size: 50px;
}
.section6-div2{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.section6-div3,
.section6-div4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 570px;
    height: 370px;
    gap: 400px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    border: none;
}
.section6 button{
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:  white;
    font-size: 30px;
    background-color: rgba(0,0,0,0.4);
    transition: transform 0.3s ease; 
}
.section6 button:hover {
    transform: scale(1.2);
}
.section6 button:active{
    transform: scale(0.8);
}

.section7{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/Assets/home/your_comfort_bg1.png');
    padding: 100px 0 0 0;
    gap: 50px;
}
.section7-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 700px;
    gap: 40px;
}
form h1{
    font-size: 50px;
}
form p{
    letter-spacing: 7px;
    font-size: 30px;
}
form input,
form textarea{
    outline: none;
    border: 1px solid black;
    width: 430px;
    height: 50px;
    padding-left: 20px;
}
form input:hover,
form textarea:hover{
    border: 1px solid rgb(255, 195, 118);
}
form input:focus,
form textarea:focus{
    border: 1.5px solid rgb(255, 195, 118);
}
form textarea{
    resize: none;
    height: 100px;
    padding-top: 20px;
}
.section7-div2{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
form button{
    border: none;
    cursor: pointer;
    background-color: rgb(232, 191, 150);
    width: 450px;
    height: 50px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}
form button:hover{
    background-color: rgb(255, 178, 78);
}
.section7-div3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 70px 0;
    background-color: rgba(232, 191, 150, 0.8);
}
.section7-div3 h1{
    font-size: 45px;
    width: 730px;
}
.section7-div4{
    display: flex;
    align-items: center;
    gap: 50px;
}
.section7-div4 p{
    font-size: 20px;
}
.section7-div4 hr{
    border: none;
    background-color: white;
    width: 2px;
    height: 200px;
}
.section7-div4 button{
    border: none;
    color: white;
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 17px;
}
.section7-div4 button:hover{
    background-color: rgba(121, 69, 0, 0.7);
}

footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0 30px 0;
}
footer a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
footer a:hover{
    color: rgb(255, 178, 78);
}
.footer-links{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.footer-div1{
    display: flex;
    justify-content: center;
    gap: 800px;
    font-size: 18px;
}
@media screen and (max-width : 769px) {
    body{
        width: 100vw;
    }
    .nav-line.active hr:nth-child(1) {
      transform: rotate(45deg) translate(8px, 8px);
    }
    .nav-line.active hr:nth-child(2) {
      opacity: 0;
    }
    .nav-line.active hr:nth-child(3) {
      transform: rotate(-45deg) translate(8px, -8px);
    }
    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: black;
        z-index: 4;
        width: 100vw;
        height: 50vh;
        top: -50vh;
        transition: top 0.5s ease-in-out;
    }
    .menu a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Nunito sans';
        color: rgb(255, 255, 255);
        width: 100%;
        height: 10vh;
    }
    .menu a:hover{
        color: rgb(255, 195, 118);
    }
    .menu .a{
        color: rgb(255, 195, 118);
    }
    nav{
        background-color: black;
        padding: 8px 0;
        gap: 60%;
    }
    nav img{
        width: 70px;
    }
    nav a{
        display: none;
    }
    .nav-line{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .nav-line hr{
        border: none;
        background-color: rgb(255, 195, 118);
        width: 35px;
        height: 2px;
        transition: 1s ease-in-out;
    }
    .bg-video{
        height: 100vh;
    }
    #bgImage{
        width: 100vw;
        height: 100vh;
    }
    .hero-sect p{
        font-size: 15px;
    }
    .hero-sect h1{
        width: 300px;
        font-size: 25px;
    }
    .section1-btn{
        left: 3%;
        gap: 64vw;
    }
    .section1-btn button{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .section2{
        flex-direction: column;
        height: 220vh;
        gap: 10vh;
    }
    .section3{
        align-items: center;
        padding-top: 50px;
        gap: 30px;
    }
    .section3 h1{
        font-size: 35px;
        width: 270px;
    }
    .section3-div4{
        flex-direction: column;
        gap: 20px;
    }
    .section3-div3{
        width: 90vw;
    }
    .section4{
        align-items: center;
        padding-top: 50px;
        height: 140vh;
        gap: 40px;
    }
    .section4 h1{
        font-size: 30px;
    }
    .section4-div4{
        flex-direction: column;
        gap: 10px;
    }
    .section4-div3{
        width: 90vw;
        height: 70vh;
    }
    .section5-div1{
        align-items: start;
    }
    .section5-div1 h1{
        font-size: 8vw;
        width: 50vw;
    }
    .section5-div1 p{
        display: flex;
        width: 80vw;
    }
    .section5-div1 img{
        width: 95vw;
        height: 60vw;
    }
    .section5-div2 p{
        display: none;
    }
    .section5-div3 img{
        width: 250px;
        height: 150px;
    }
}